
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: inhert;
}

html {
    
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-size: 14px;
    font-family: arial, sans-serif;
    margin: 0;
}

header {
    width: 100%;
}

#topnav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px;
}

.topleft {
    align-self: flex-start;
    padding: 10px 3px 3px 3px;
    margin-top: 2px;
}

.topright {
    align-self: flex-end;
    padding: 5px 3px 3px 3px;
    margin-bottom: 20px;
    font-size: 13px;
}

.empty {
    align-self: center;
    margin-left: auto;
}

a.navlinks {
    margin-left:14px;
    padding-top: 9px;
}

.buttonimg {
    
    position: relative;
    bottom: -8px;
    font-size: 14px;
    margin-top: -1px;
}


.button {
    background-color:rgb(26, 115, 232);
    color: #FFF;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 11px;
    padding-top: 8px;
    
}

#maincontainer {
    width: 100%;

}

#googlewrap {
    height: 300px;
    justify-content: center;
    width: 100%;

}

@media only screen and (min-height: 600px) {
    #googlewrap {
        position: absolute;
        bottom: 320px;
    }
}

#googlebox {
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top: 30px;
}


#searchbar {
    margin-top: 30px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid rgb(230, 230, 230);
    width: 584px;
    display: flex;
    flex-direction:row;
    box-shadow: rgba(20, 31, 65, 0.1) 0px 1px 6px 0px;
}



#googleinput {
    padding: 10px;
    border: none;
    background-color: transparent;
    width: 100%;
}

#searchbar:hover {
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

input:focus {
    text-decoration: none;
    outline: none;
}

.magnifier {
margin-top: 3px;
opacity: 0.4;
height: 20px;
width: 20px;
padding: 11px;
}

#searchlinks {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.searchlinks {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    padding-top: 2px;
    line-height: 27px;
    height: 32px;
    min-width: 54px;
    text-align: center;
}

.searchlinks:hover {
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

footer {
    width: 100%;
    background-color: rgb(242, 242, 242);
    margin-top: auto;
    position:absolute;
    bottom: 0;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-family: arial, sans-serif;

}

@media only screen and (max-height: 460px) {
    footer {
        width: 100%;
        background-color: rgb(242, 242, 242);
        margin-top: auto;
        position:relative;
        bottom: 0;
        color: rgba(0, 0, 0, 0.54);
        font-size: 14px;
        font-family: arial, sans-serif;
    }
}


#carbonneutral {
    align-self:center;
    text-align:center;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.leftfoot {
    align-self: flex-start;
    padding: 15px;
}

.rightfoot {
    align-self: flex-end;
    padding: 15px;
}

.footerlinks {
    color: rgba(0, 0, 0, 0.54);
}