
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: inhert;
}

html, body {
    height: 100%;
    width: 100%;
}

.buttonimg {
    max-height: 100%;
    position: relative;
    bottom: -6px;
}
nav {
    margin: 0 5px;
    font-size: 14px;
    font-family: arial, sans-serif;

}

a.navlinks {
    margin-left:14px;
    top: 50%;
}

#topnav {
    width: 100%;
    display: block;
    vertical-align: middle;
    padding: 4px 4px 4px 4px;
    margin-bottom: 44px;

}

#rightnav {
    float: right;
    font-size: 13px;
}

#leftnav {
   float: left;
   padding-top: 9px;

}


.maincontainer {
    display: flex;
    flex-direction:column;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
   

}


.logo {
    max-height: 290px;
    min-height: 92px;
    max-width: 100%;
    margin: auto;
}

.button {
    background-color:rgb(26, 115, 232);
    color: #FFF;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 23px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 10px;
    padding-top: 10px;
    
}

#search {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#searchbar {
    margin-top: 30px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    width: 584px;
}

.searchoptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-family: arial, sans-serif;

}

.searchlinks {
    display: flex;
    padding: 10px;
    min-width: 300px;
}

.lucky {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;


}

#googlesearch {
    padding: 10px;
    border: none;
    background-color: transparent;
    width: 100%;
}

input:focus {
    text-decoration: none;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
}

.magnifier {

margin-top: 3px;
color: #9aa0a6;
height: 20px;
width: 20px;
padding: 10px;

}

.wrapper {
    height: 100px;
    padding-bottom: 50px;
}
footer {
    height: 40px;
    width: 100%;
    padding: 15px;
    background-color: rgb(242, 242, 242);
    margin-top: auto;
    margin-bottom: 5px;
    position:absolute;
    bottom: 0;

}

.leftfoot {
   float:left;

}

.rightfoot {
    float:right;
}

.footerlinks {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-family: arial, sans-serif;
    padding: 6px;
}

#carbonneutral {
    text-align:center;
    margin-bottom: 5px;
}
