
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: inhert;
}

.buttonimg {
    max-height: 100%;
    position: relative;
    bottom: -6px;
}
nav {
    margin: 0 5px;
    font-size: 14px;
    font-family: arial, sans-serif;

}

a.navlinks {
    margin-left:14px;
    top: 50%;
}

#topnav {
    width: 100%;
    display: block;
    vertical-align: middle;
    padding: 4px 4px 4px 4px;
    margin-bottom: 44px;

}

#rightnav {
    float: right;
    font-size: 13px;
}

#leftnav {
   float: left;
   padding-top: 9px;

}

.centercontent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.logo {
    max-height: 100%;
    max-width: 100%;

}

.button {
    background-color:rgb(26, 115, 232);
    color: #FFF;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 23px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 10px;
    padding-top: 10px;
    
}